@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  font-style: normal;
  font-weight: normal;
  src: local("HelveticaNeueCyr-Light"), url("../css/fonts/HelveticaNeueCyr-Light.woff") format("woff"); }
@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  font-style: normal;
  font-weight: normal;
  src: local("HelveticaNeueCyr-Roman"), url("../css/fonts/HelveticaNeueCyr-Roman.woff") format("woff"); }
@font-face {
  font-family: 'HelveticaNeueCyr-UltraLight';
  font-style: normal;
  font-weight: normal;
  src: local("HelveticaNeueCyr-UltraLight"), url("../css/fonts/HelveticaNeueCyr-UltraLight.woff") format("woff"); }
.flex {
  display: flex; }
  .flex .box {
    flex: 1 0 auto; }
  .flex .box-3 {
    flex: 1 0 33.33333%; }

.flex.row {
  flex-direction: row; }

.flex.column {
  flex-direction: column; }

.flex.wrap {
  flex-wrap: wrap;
  align-content: stretch; }

.order-1 {
  order: 1; }

.order-2 {
  order: 2; }

.order-3 {
  order: 3; }

.order-4 {
  order: 4; }

.order-5 {
  order: 5; }

.order-6 {
  order: 6; }

.order-7 {
  order: 7; }

@media all and (max-width: 768px) {
  .flex.sm-column {
    flex-direction: column; } }
nav {
  background-color: #f5f5f5;
  box-shadow: 0 10px 30px gray; }
  nav ul:last-child a {
    font-size: 17px; }
  nav ul:last-child a:hover {
    text-decoration: underline; }
  nav li {
    list-style: none; }
  nav a {
    padding: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: #333333;
    transition: 200ms; }
  nav a:hover {
    color: #009999; }
  nav span.menu {
    display: flex;
    background-image: url(../img/48x42_Catalog_btn_normal.png);
    background-size: contain;
    width: 24px;
    height: 21px;
    transition: background-image 200ms ease; }
  nav span.menu:hover {
    background-image: url(../img/48x42_Catalog_btn_down.png); }
  nav .dropdown {
    display: none;
    position: absolute;
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
    background-color: #f5f5f5;
    border-bottom: 15px solid #48d1cc;
    box-shadow: 0 20px 30px gray; }
  nav .dropdown.about {
    width: inherit;
    border-bottom: none; }
  nav .dropdown.wrap {
    left: 0; }
  nav .dropdown.on {
    height: auto;
    display: flex; }
  nav input {
    padding: 0 5px;
    width: 90%;
    height: 35px;
    margin: 0 auto;
    border: 1px solid lightgrey;
    border-radius: 4px;
    font-family: 'HelveticaNeueCyr-Light', sans-serif;
    font-size: 15px;
    color: #333333; }

.sm-show {
  display: none; }

@media all and (max-width: 768px) {
  nav .dropdown {
    position: relative;
    border-bottom: none;
    box-shadow: none; }
  nav .sm-dropdown {
    display: none; }
  nav .sm-dropdown.on {
    display: flex; }
  nav .sm-show {
    display: flex; } }
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  font-size: 17px;
  color: #333333;
  background-color: #efefef; }

section {
  padding: 10px;
  height: 400px; }

.title {
  color: #009999; }

/*# sourceMappingURL=styles.css.map */
